extends layout

block content
	#header
		h1= title
	#bar
	#container
		h1 Manage Art Collection
		form#formManageCollection(name="addsample",method="get",action="/samplegroup")
			button#btnSubmit(type="submit") Manage
		