extends layout

block content
	#header
		#logo <img src="images/logo.png" width="475" height="100" alt="logo"/>
	#bar
	#container
		
		h1 Where it's okay to show off!
		
		h2 What is this all about
		p This website is a fun and friendly place where kids can show off their creative talents. These days kids are constantly plugged into some type of device. This site is focused on celebrating what happens when you turn off the tv and video games.
			
		h2 How is it done?
		p When you kids get involved in something you love, you really soar.  I've seen some amazing talent out there, and I want to show it off for you.  Do you play a sport?  Write poetry?  Create video games?  Play an instrument?  Dance?  Tell me about it.  Write it out, send me a picture, and maybe you'll see it featured on Tweens Uplugged!
		br
		br
		br
		h3 Administrative
		ul
			li
				a(href='http://localhost:5000/samplegroup') Manage Art Collection
			
		