extends layout

block content
	#header
		h1= title
	#bar
	#container
		h1 Samples
		p These are all the art samples in the collection.<br />They have been submitted by tweens and can be featured on the Tweens Unplugged website.
		ol
			each sample, i in samplegroup
				li=sample.title + " in " + sample.medium + " by " + sample.artist 
		form#formAddSample(name="addsample",method="get",action="/newsample")
			button#btnSubmit(type="submit") Add Record